<a href="https://colab.research.google.com/github/IrvingRE/CompYProg2022G1157/blob/main/fundamentosCyP1157.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

12/10/2021

In [ ]:
import sys 
nombre= 'irving' #Tipo de dato String  (cadena de caracteres)

print (nombre)

irving

Tipo de dato en Phyton

In [ ]:
import sys
edad = 19
print ("Tu edad es:", edad) # al final de una linea de codigo
#Este es un comentario de liena simple

"""
Comentario de multiple linea 
En leguaje C, C++ y Java el comentario de multiple lunes es con /* ..... */ 

En lenguaje C, C++ y Java el comentario de una sola linea es con:

//

Aqui puedes explicar en prosa el segmento de una codigo para futura 
"""

#Tipos de dato numerico int y float
# El tipo de dato INT utiliza diferente cantidad de bits segun el
# lenguaje de programacion por ejemplo en C se utiliza  16 bits.
print (sys.getsizeof(edad))

edad = edad + 1 
print (edad)

estatura = 1.56 
print (sys.getsizeof(estatura))
estatura = estatura + .1 
print (estatura)
print ( round(estatura,2))

edad += 1 #edad = edad + 1
print ("Tu edad es:", edad)

edad -= 1 #edad = edad + 1
print ("Tu edad es:", edad)

edad += 1
edad /= 2 #edad = edad / 2
print ("La mitad de tu edad es:", edad)

edad  = 21
#volver a calcular la mitad de la edad pero solo dejar
#parte  entera 
edad = edad//2 
print ("La mitad de tu edad es:", edad) 

#La mayoria de los lenguajes de programacion no permite operaciones entre 
#diferentes tipos de datos, en phyton no es el caso 

numero = edad / 2.0
print(numero)

numero = numero *3
print(numero)

numero = 5.0
numero = numero **2
print (numero)

Tu edad es: 19
28
20
24
1.6600000000000001
1.66
Tu edad es: 21
Tu edad es: 20
La mitad de tu edad es: 10.5
La mitad de tu edad es: 10
5.0
15.0
25.0

In [ ]:
#operador modulo 
numero = 21
print (numero/2)
print(numero//2)

#El operador modulo da como resultado el residuo de una divison entera
print(numero%2)

numero = 24 
print ("Residuo de 24 / 5: ", numero % 5 )

print ("24 es par? = ", numero% 2 == 0)

#diferencia
print ( "24 es diferente de 23 = ", numero !=23)
print ("24 es mayor que 23", numero>23)
print ("24 es menor que 23", numero<23)

print ("24 es menor o igual que 24", numero>=24)
print ("24 es menor o igual que 23", numero<23)

print("El tipo de dato de la var numero es:", type(numero))
print("El tipo de dato de la var numero es:", type(numero/2.0))

10.5
10
1
Residuo de 24 / 5:  4
24 es par? =  True
24 es diferente de 23 =  True
24 es mayor que 23 True
24 es menor que 23 False
24 es menor o igual que 24 True
24 es menor o igual que 23 False
El tipo de dato de la var numero es: <class 'int'>
El tipo de dato de la var numero es: <class 'float'>

In [ ]:
nombre = "irving"
carrera = "ingenieria en computacion "
frase = """El conocimiento me persigue,...
pero
yo soy mas rapido 
"""
print (nombre)
print(carrera)
print(frase)

#La funcion type de Phyton  te devuelve el tipo de dato de una variable (o e)
print (type(nombre))

paterno = str ("macedo")
print (paterno)

irving
ingenieria en computacion
El conocimiento me persigue,...
pero
yo soy mas rapido

<class 'str'>
macedo

**14/10/2021**

Una clase (class) es un tipo de compuesto

In [ ]:
carrera= "Ingenieria en computación"
print(carrera)
print(carrera [2])

# a la sintaxis escrita para elegir un elemento de datos se le llama selector.
En el caso de Strings y listas (lts) se usan los caracteres ´[´y´]´
1. En todos los lenguajes los arreglos inician en 0.
2. En python no existe como tal el tipo de dato arreglo, el concepto es sustituido por las listas.
3. Los strings se comportan como un arreglo en la mayoria de los lenguajes.
4. En python se acepta en indexado negativo, en otros lenguajes NO.

In [ ]:
carrera= "Ingenieria en computación"
print(carrera[5])
print(carrera[-1])

i
n

# Slicing (rebanado) de cadenas
Permite seleccionar subcadenas con el operador 
### [inicio: stop: incremento] 
El stop no se incluye, es por eso que debemos agregar una posición extra.

### Slicing y valores por defecto.

inicio por defecto siempre será 0
el stop será: tamaño del arreglo(indexado positivo)
              0(en un indexado negativo)

incremento: es 1(indexado positivo)

In [ ]:
carrera= "Ingenieria en computación"
print(carrera[0:10:1])
print(carrera[14:25:1])
print(carrera[0:10:1])


#Un ejercicio más para ver incremento 
print(carrera[14:25:-1])
print(carrera[0:10:2])
print(carrera[-1:-12:-1])

Ingenieria
computación
Ingenieria

Ignei
nóicatupmoc

#String y sus métodos
#Todos los tipos de datos en python son objetos (CLASES de la Programacion Oientada a Objetos,POO)
###Lo cual significa que tiene atributos y métodos.

###dir() y help() funciones para obtener ayuda del lenguaje Python

###dir muestra las funciones de un tipo de dato como resumen

###help muestra la misma ayuda pero a detalle 

###Metodos que inician con doble guión bajo son privados de uso interno de la clase y no deberiamos usarlos

In [ ]:
frutas= " limon, fresa, manzana, aguacate"
nombre= "jose"
print(frutas)
dir(frutas)

print( nombre.capitalize() )
print( nombre.upper() )
print(frutas.replace("a", "4").upper() )
frutas= "limon , fresa , manzana , aguacate"
print(frutas.strip() )
print(frutas.split(",") )
print(frutas.index("m") )

 limon, fresa, manzana, aguacate
Jose
JOSE
 LIMON, FRES4, M4NZ4N4, 4GU4C4TE
limon , fresa , manzana , aguacate
['limon ', ' fresa ', ' manzana ', ' aguacate']
2

#String y caracteres  de escape
"Jose"
- \" ---> "
- \´ ---> ´
- \n --> Salto de línea(tecla enter)
- \t -> tabulador espacios a la izq.
- \uxxxx-> Caracteres unicode 16 bits(2 bytes)
- \Uxxxxxx->unicode extendido 4 bytes

In [ ]:
print(" \"jose\" ")
nombre= " \"jose\" "
print(nombre)
carrera= " Ingeniería \n\ten \n\t\tcomputacion"
print(carrera)

print("\u0444")
print("\U0001F970")
print("\U00010057")
print("\U0001F9A0")

 "jose"
 "jose"
 Ingeniería
	en
		computacion
ф
🥰
𐁗
🦠

# Función print

### Se emplea para desplegar información en la salida estandar. Normalmente un monitor.

- Formas de usar print
- El argunmento por defecto de print(end)
- format()
- operador f""

In [ ]:
nombre= "Jose"
edad= 18
casado= False
estatura= 1.67

#1.- Con comas; concatena haciendo un casting(conversión)
#agrega un espacio
print( nombre,edad,casado,estatura)

#2.- con el simbolo de "+"; concatenación en crudo 
#se tienen que poner también los espacios "+ " " + "
# cambiar a str los no str con "str()"
print( nombre+ " " +str(edad) + " " +str(casado) + " " +str(estatura) )

#3.- dando formato a la salida con format 
print("\nCon la función format()")
print("Nombre: {}\n\tEdad: {}\n\tEsta casado: {}\n\testatura en metros: {}".format(nombre,edad,casado,estatura))

#4.- con el operador f" "
print("Con el operador f\" \"")
print(f"Nombre: {nombre}\n\tEdad: {edad}\n\tEsta casado: {casado}\n\testatura en metros: {estatura}")
#Como manejar el argumento end 
print(f"Hola {nombre}" , end= "" )
print((", Como estas?") , end="\n")

Jose 18 False 1.67
Jose 18 False 1.67

Con la función format()
Nombre: Jose
	Edad: 18
	Esta casado: False
	estatura en metros: 1.67
Con el operador f" "
Nombre: Jose
	Edad: 18
	Esta casado: False
	estatura en metros: 1.67
Hola Jose, Como estas?

#con una sola funcion POR LETRA print, escribir su primer nombre( nombre de pila) de la siguiente forma

K        K
K      K
K    K
K  K
K K
K  K
K   K
K     K

  A
 A  A
AAAAAA  
A    A
A    A

# datos de entrada 

Para solicitad los datos del usuario se emplea la función input. La cual regresa siempre un tipo de dato string

In [1]:
nombre= input("Ingresa tu nombre")
print("Tecleaste:", nombre)

Ingresa tu nombretorito
Tecleaste: torito

# ¿Cómo capturar datos numericos?

Para ello se hace una conversión entre tipos...
casting... consiste en llamar al constructor de la clase deseada. 

## Ejemplo convertir el string "2" en número 
### num = int("2")

In [4]:
entrada= input("Dame tu edad:")
edad= int(entrada)
edad+=1 # edad=edad+1
print("Tu edad es:", edad)

Dame tu edad:2
Tu edad es: 3

In [6]:
#lo mismo pero con menos codigo

edad= int(input("Dame tu edad:"))
print("Tu edad es:", edad+1)

Dame tu edad:4
Tu edad es: 5

In [12]:
estatura=float(input("Dame tu estatura:"))
print("Tu estatura es:", estatura+0.1)

Dame tu estatura:1.67
Tu estatura es: 1.77

In [15]:
# input de booleans

casado = bool(int(input("Soltero (0) casado(1):")))
print("casado", casado)

Soltero (0) casado(1):0
casado False